
  *{
    padding: 0;
    margin: 0;  
    box-sizing: border-box;
}

body{
    background-color: #8cc461;
    font-family: 'Roboto', sans-serif;
}

.wrapper{
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
 

}
.header{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 8rem;
  height: 40vh;
  width: 100vw;
}


.trophy{
  position: relative;
  right: 16rem;
}

.stars{
  position: relative;
  left: 5rem;
  bottom: 3.5rem;
}
.hurray{
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;

}

.hurray h1{
  font-size: 5rem;
  letter-spacing: 1rem;
  font-weight: 500;
}
h2{
  font-size: 1.8rem;
  letter-spacing: .75rem;
  font-weight: 520;
}

.text2{
  position: relative;
  top: .2rem;
  color: #fff;
  font-size: 1rem;
}


  .play_again_btn2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    

}

.play_again2{
    width: 12rem;
    display: flex;
    justify-content: center;
    color: #6B6B6B;
    background-color: #fff;
    border: 2px solid white;
    padding: 12px 24px;
    border-radius: 6px;
    cursor: pointer;
       
}

.play_again2:hover{
    background-color: beige;
    transform: translate3d(0px, -2px, 0px) ;
}

a{
  text-decoration: none;
}

a:visited{
  color: inherit;
}


.rules{
  background-color: none;
  color: #fff;
  padding: 1rem;
  height: 2.5rem;
  width: 5.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #fff;
  border-radius: 0.6rem;
  position: absolute;
  bottom: 2rem;
  right: 2rem;
  letter-spacing: .2rem;

}

.rules:hover{
  cursor: pointer;
  background-color: #5a5555;
}


.rules-popup {
  width: 18rem;
  background-color: #004429;
  padding: 2rem;
  color: #fff;
  border: 5px solid white;
  border-radius: 20px;
  height: fit-content;
  position: absolute;
  bottom: 5rem;
  right: 1.5rem;
  font-size: .8rem;
  max-width: 50%;
  max-height: 25rem;
  display: none;
  z-index: 10;
}
 .show-rules {
  opacity: 1;
} 
.rules-popup h1 {
  font-size: 1.75rem;
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
  align-content: center;
} 


button{
  font-size: 2rem;
  font-weight: 700;
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  color: #fff;
  background-color: red;
  border: 5px solid white;
  position: absolute;
  top: 0;
  right: 0; 
  transform: translate(50%, -50%);
}
